# .gitignore

# Python venv
venv/

# Python cache files
__pycache__/
*.pyc

# User configuration
config/feeds.txt
config/processed_urls.txt
config/rules.json


# Secrets
.env
run_scraper.bat
scraper.log

# Temporary files
config/queue.lock
config/priority_queue.json
# Priority Queue file is deprecated, left in .gitignore
config/articles.json